.title {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-family: Comfortaa, sans-serif;
}

.landing_top {
  position: relative;
  background-color: #333333;
  overflow: hidden;
  height: 100vh;
}
