<div class="landing_top">
  <app-navbar></app-navbar>
  <h1 class="title">WHAT IS YOUR IMPACT<br>ON THE PLANET</h1>
  <div class="impact">
    <h3>TREE KILLED BY YOUR PC: {{ nbr_arbre_couper }}</h3>
    <h3>VOiture : {{ metre_fait_avec_une_voiture}}</h3>
  </div>
</div>
<!--
<div class="chrismas_tree">
  <img class="tree" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
  <img class="tree" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
</div>
-->
<app-footer></app-footer>

