<div class="landing_top">
  <app-navbar></app-navbar>
  <h1 class="title">WHAT IS YOUR IMPACT<br>ON THE PLANET</h1>
  <div class="impact">
    <h3>TREE KILLED BY YOUR PC: {{ nbr_arbre_couper }}</h3>
    <h3>VOiture : {{ metre_fait_avec_une_voiture}}</h3>
  </div>
  <div id="chrismas_tree">
    <img id="tree" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
    <img id="tree1" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
    <img id="tree2" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
    <img id="tree3" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
    <img id="tree4" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
    <img id="tree5" src="../../assets/Flat-design-christmas-tree-concept-on-transparent-background-PNG (1).png">
  </div>
</div>
<app-footer></app-footer>

