.title {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  text-align: center;
  font-family: 'fira sans', sans-serif;
  padding-bottom: 120px;
  padding-top: 30px;
}

.landing_top {
  position: relative;
  background-color: #333333;
  overflow: hidden;
  height: 100vh;
}

.impact {
  width: 50vh;
  padding: 10px 30px;
  display: block;
  margin: 0 auto;
  align-items: center;
  color: black;
  justify-content: center;
  text-align: left;
  font-family: 'fira sans', sans-serif;
  background-color: white;
  border-radius: 1vh;
}

#chrismas_tree {
  width: 5%;
  z-index: -1; /* Place it behind other content */
  float: left;
  height: auto; /* Maintain the aspect ratio */
  margin-right: 20px; /* Optional margin for spacing */
}
