.footer-with-message {
  background-color: #4CAF50; /* Green background color */
  color: #fff; /* White text color */
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
}
