<div class="animation_div">
  <div class="animation_div">
    <div *ngFor="let index of [].constructor(numberOfImages); let i = index" class="hadouken_gif_div">
      <img src="assets/ryu-hadouken.gif" alt="Hadouken" class="gif_hadouken">
    </div>
  </div>
  <audio #backgroundMusic loop="true" autoplay="true" hidden="true">
    <source src="assets/song.mp3" type="audio/mp3">
  </audio>
</div>

<div class="charlie">
  <div class="inter_charlie">
    <img src="assets/charlie.png" alt="Charlie" class="gif_charlie">
  </div>
</div>

