.animation_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(0); /* Commence à 100% à gauche de l'écran */
  }
  100% {
    transform: translateX(-100%); /* Se termine à la position originale (0) */
  }
}


.hadouken_gif_div {
  animation: slideInFromRight 0.2s ease;
  width: 100%;
  height: 100%;
}

.gif_hadouken {
  width: 100%;
  height: 100%;
}

.charlie {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: end;
  align-items: end;
  top: 0;
  z-index: 970;
}

.intern_charlie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 30vh;
  animation: slideInFromCharlie 2s ease;
}

.charlie_img {
  width: 30vh;
  height: 30vh;
}

@keyframes slideInFromCharlie {
  0% {
    transform: translateX(100%); /* Commence à 100% à gauche de l'écran */
  }
  100% {
    transform: translateX(0%); /* Se termine à la position originale (0) */
  }
}
